    <div xmlns:py="http://genshi.edgewall.org/">

    <table class="datatable test_verdicts">
        <tr>
            <th class="wide"></th>
            <th>Average</th>
            <th>Expect</th>
            <th class="Narrow">Pass/Fail</th>
        </tr>
        <tr>
            <td class="vertical_header_th">Non Stationary Reporting Rate</td>
            <td>${"N/A" if slowest_reporting_rate is None else "%s Hz" % slowest_reporting_rate}</td>
            <td>${"%s" % settings['minreportingrate']} Hz</td>
            <td class="${'passed' if slowest_reporting_rate is not None and slowest_reporting_rate > settings['minreportingrate'] else 'failed'}" >${"Pass" if slowest_reporting_rate is not None and slowest_reporting_rate > settings['minreportingrate']  else "Fail"}</td>
        </tr>
        <tr>
            <td class="vertical_header_th">Missing lines</td>
            <td>${missing_lines}</td>
            <td>0</td>
            <td class="${'passed' if missing_lines == 0 else 'failed'}" >${"Pass" if missing_lines == 0 else "Fail"}</td>
        </tr>
    </table>

    <div py:if="'noimages' not in kwargs" class="preview">
      <a href="${detailed_figure}">
        <img src="${figure}" width="800" height="600" alt="Preview image"/>
      </a>
    </div>

	<div class="dtable no_print">
		<div class="dtable_row subplot_selector">
		    <div class="dtable_header narrow_cell">Toggle:
            </div><div class="dtable_header narrow_cell subplot_button"><button class="all_lines_button">All</button>
            </div><div class="dtable_header narrow_cell subplot_button"><button class="failed_lines_button">Failed</button>
            </div><div class="dtable_header narrow_cell subplot_button"><button class="passed_lines_button">Passed</button></div>
        </div>
    </div>

	<div class="dtable subplot_table">
		<div class="dtable_header_row">
			<div class="dtable_header narrow_cell">Line ID
            </div><div class="dtable_header">Max Reporting Rate
            </div><div class="dtable_header">Min Reporting Rate
            </div><div class="dtable_header">Avg Reporting Rate
            </div><div class="dtable_header narrow_cell">Pass/Fail
            </div><div class="dtable_header no_print">Detailed plot</div>
		</div>
		<div py:for="swipe_id, max_reporting_rate, min_reporting_rate, average_reporting_rate, verdict, image_src in detailed_data" class="dtable_row plot_header">
			<div class="dtable_cell narrow_cell">${swipe_id}
            </div><div class="dtable_cell">${"%s Hz" % max_reporting_rate if max_reporting_rate != None else "N/A"}
            </div><div class="dtable_cell">${"%s Hz" % min_reporting_rate if min_reporting_rate != None else "N/A"}
            </div><div class="dtable_cell">${"%s Hz" % average_reporting_rate if average_reporting_rate != None else "N/A"}
            </div><div class="dtable_cell narrow_cell ${'passed' if min_reporting_rate is not None and average_reporting_rate > settings['minreportingrate'] else 'failed'}">${verdict}
            </div><div class="dtable_cell no_print"><button type="button" class="show_plot">Show/Hide</button>
            </div><div class="plot" data-src="${image_src}"/>
		</div>
    </div>
<!--!
		<table class="datatable">
			<tr>
				<th class="narrow">Line ID</th>
				<th>Max Reporting Rate</th>
				<th>Min Reporting Rate</th>
				<th class="narrow">Pass/Fail</th>
			</tr>
			<tr py:for="">
				<td>${swipe_id}</td>
				<td> ${"%.2f Hz" % max_reporting_rate if max_reporting_rate != None else "N/A"}</td>
				<td> ${"%.2f Hz" % min_reporting_rate if min_reporting_rate != None else "N/A"}</td>
				<td class="${'passed' if min_reporting_rate > settings['minreportingrate'] else 'failed'}"> ${verdict}</td>
			</tr>

		</table>
-->
		<div class="clear"></div>
    </div>
