    <div xmlns:py="http://genshi.edgewall.org/">
    <?python from genshi.builder import tag ?>
    <?python from genshi.util import flatten ?>
      <table class="datatable test_verdicts">
        <tr>
            <th></th>
            <th>Value</th>
            <th>Maximum allowed</th>
            <th>Pass/Fail</th>
        </tr>
        <tr py:for="angle, values in results.angles.items()">
            <td class="vertical_header_th">Separation distance (${angle}&deg;):</td>
            <td>${"%s" % values.separation} mm</td>
            <td>${"%s" % values.maxseparation} mm</td>
            <td class="${'passed' if values.verdict else 'failed'}" >
                 ${"Pass" if values.verdict else "Fail"}
            </td>
        </tr>
      </table>

      <py:if test="'noimages' not in kwargs">
      <py:for each="figure in figures">
        <img class="preview" src="${figure}" alt="Preview image"/>
      </py:for>
      </py:if>

        <!--! Preview table -->
        <div class="dtable no_print">
	        <div class="dtable_row">
		        <div class="dtable_header narrow_cell">Toggle:</div>
		        <div class="dtable_header narrow_cell"><button class="all_lines_button">All</button></div>
                <div class="dtable_header narrow_cell"><button class="failed_lines_button">Failed</button></div>
		        <div class="dtable_header narrow_cell"><button class="passed_lines_button">Passed</button></div>
            </div>
        </div>

	  <div class="dtable subplot_table">
		<div class="dtable_row">
			<div class="dtable_header">Angle</div>
			<div class="dtable_header">Separation</div>
			<div class="dtable_header">Pass/Fail</div>
			<div class="dtable_header no_print">Detailed plot</div>
		</div>
        <py:for each="angle_id in results.angle_ids">
		<div py:for="distance_id in results.angles[angle_id].distance_ids" class="dtable_row plot_header">
			<div class="dtable_cell">${angle_id}</div>
			<div class="dtable_cell">${distance_id}</div>
			<div class="dtable_cell ${'passed' if results.angles[angle_id].distances[distance_id].verdict else 'failed'}">
                 ${results.angles[angle_id].distances[distance_id].verdict_text}
            </div>
			<div class="dtable_cell no_print"><button type="button" class="show_plot">Show/Hide</button></div>
			<div class="plot" data-src="${results.angles[angle_id].distances[distance_id].image}"/>
		</div>		
        </py:for>
      </div>
    </div>
