    <div xmlns:py="http://genshi.edgewall.org/">

    <table class="datatable test_verdicts">
        <tr>
            <th class="wide"></th>
            <th>Min Reporting Rate</th>
            <th>Minimum allowed</th>
            <th class="Narrow">Pass/Fail</th>
        </tr>
        <tr>
            <td class="vertical_header_th">Stationary Reporting Rate</td>
            <td>${"N/A" if slowest_reporting_rate is None else "%s Hz" % slowest_reporting_rate}</td>
            <td>${"%s" % settings['minreportingrate']} Hz</td>
            <td class="${'passed' if slowest_reporting_rate is not None and slowest_reporting_rate > settings['minreportingrate'] else 'failed'}" >${"Pass" if slowest_reporting_rate is not None and slowest_reporting_rate > settings['minreportingrate']  else "Fail"}</td>
        </tr>
    </table>

    <div py:if="'noimages' not in kwargs" class="preview">
    <a href="${detailed_figure}">
        <img src="${figure}" width="800" height="600" alt="Preview image"/>
    </a>
    </div>

	<div class="dtable no_print">
		<div class="dtable_row subplot_selector">
		    <div class="dtable_header narrow_cell">Toggle:
            </div><div class="dtable_header narrow_cell subplot_button"><button class="all_lines_button">All</button>
            </div><div class="dtable_header narrow_cell subplot_button"><button class="failed_lines_button">Failed</button>
            </div><div class="dtable_header narrow_cell subplot_button"><button class="passed_lines_button">Passed</button></div>
        </div>
    </div>

	<div class="dtable subplot_table">
		<div class="dtable_header_row">
			<div class="dtable_header narrow_cell">Point ID
            </div><div class="dtable_header">Max Reporting Rate
            </div><div class="dtable_header">Min Reporting Rate
            </div><div class="dtable_header">Avg Reporting Rate
            </div><div class="dtable_header narrow_cell">Pass/Fail
            </div><div class="dtable_header no_print">Detailed plot</div>
		</div>
		<div py:for="point in detailed_data" class="dtable_row plot_header">
			<div class="dtable_cell narrow_cell">${point[0]}
            </div><div class="dtable_cell">${"%s Hz" % point[1] if point[1] != None else "N/A"}
            </div><div class="dtable_cell">${"%s Hz" % point[2] if point[2] != None else "N/A"}
            </div><div class="dtable_cell">${"%s Hz" % point[3] if point[3] != None else "N/A"}
            </div><div class="dtable_cell narrow_cell ${'passed' if point[4] == 'Pass' else 'failed'}">${point[4]}
            </div><div class="dtable_cell no_print"><button type="button" class="show_plot">Show/Hide</button>
            </div><div class="plot" data-src="${point[5]}"/>
		</div>
    </div>

    <div class="clear"></div>
    </div>
