    <div xmlns:py="http://genshi.edgewall.org/">

    <table class="datatable test_verdicts">
        <tr>
            <th></th>
            <th>Value</th>
            <th>Maximum allowed</th>
            <th>Pass/Fail</th>
        </tr>
<!--        ngocdd3-->
<!--         <tr>-->
<!--            <td class="vertical_header_th" py:if="not results.edge_analysis_done">Score:</td>-->
<!--            <td class="vertical_header_th" py:if="results.edge_analysis_done">Score:</td>-->
<!--            <td>${"%s" % results.score}</td>-->
<!--            <td>-</td>-->
<!--            <td></td>-->
<!--        </tr>-->
<!--        #ngocdd3-->

        <tr>
            <td class="vertical_header_th" py:if="not results.edge_analysis_done">Max accuracy error:</td>
            <td class="vertical_header_th" py:if="results.edge_analysis_done">Max center accuracy error:</td>
            <td>${"%s" % results.max_input_error} mm</td>
            <td>${"%s" % settings['maxposerror']} mm</td>
            <td class="${'passed' if settings['maxposerror'] >= results.max_input_error else 'failed'}" >
                 ${"Pass" if settings['maxposerror'] >= results.max_input_error else "Fail"}
            </td>
        </tr>
        <tr py:if="results.edge_analysis_done">
            <td class="vertical_header_th">Max edge accuracy error:</td>
            <td>${"%s" % results.max_edge_error} mm</td>
            <td>${"%s" % settings['edgepositioningerror']} mm</td>
            <td class="${'passed' if settings['edgepositioningerror'] >= results.max_edge_error else 'failed'}" >
                 ${"Pass" if settings['edgepositioningerror'] >= results.max_edge_error else "Fail"}
            </td>
        </tr>
        <tr py:if="not results.edge_analysis_done">
            <td class="vertical_header_th">Missing inputs:</td>
            <td>${results.missing_inputs}/${results.total_points}</td>
            <td>${int(settings['maxmissing'])}</td>
            <td class="${'passed' if results.missing_inputs_verdict else 'failed'}">${"Pass" if results.missing_inputs_verdict else "Fail"}</td>
        </tr>
        <tr py:if="results.edge_analysis_done">
            <td class="vertical_header_th">Missing center inputs:</td>
            <td>${results.missing_inputs - results.missing_edge_inputs}/${results.total_points - results.edge_points}</td>
            <td>${int(settings['maxmissing'])}</td>
            <td class="${'passed' if results.missing_inputs_verdict else 'failed'}">${"Pass" if results.missing_inputs_verdict else "Fail"}</td>
        </tr>
        <tr py:if="results.edge_analysis_done">
            <td class="vertical_header_th">Missing edge inputs:</td>
            <td>${results.missing_edge_inputs}/${results.edge_points}</td>
            <td>${int(settings['maxedgemissing'])}</td>
            <td class="${'passed' if results.missing_edge_inputs_verdict else 'failed'}">${"Pass" if results.missing_edge_inputs_verdict else "Fail"}</td>
        </tr>
    </table>

    <div py:if="'noimages' not in kwargs" py:for="img in results.images" class="preview">
        <a href="${img[1]}">
            <img src="${img[0]}" alt="Preview image"/>
        </a>
    </div>

    </div>
