@media print {
.no_print {
    display:none;
}
}

@media screen {
.passed
{
	color: #00FF00;
	font-weight:bold;
}

.failed
{
	color: #FF0000;
	font-weight:bold;
}
}

@media print {
.passed
{
	color: #00FF00 !important;
    font-weight:bold;
}

.failed
{
	color: #FF0000 !important;
    font-weight:bold;
}
}

table.datatable td textarea
{
	width: 100%;
}